$white: #fff;
$blue-dark: #1E3258;
$green: #68AF7C;
$grey-light: #EFF1F4;
$red: #D6501F;



$main-color: $blue-dark;
$link-color: $main-color;

$min-width: 320px;
$max-width: 1170px;
$base-bg: #fff;
$base-font-size: 1.7rem;
$base-line-height: 1.58;
$base-font-family: 'Gilroy', sans-serif;

$headerHeight: 8rem;
$headerHeightMobile: 7.2rem;
$footerHeight: 11rem;

$default-transition: all .3s linear;