h1,h2,h3,h4,h5,h6 {
  span {white-space: nowrap;}
}

.elementor-widget-text-editor,
.elementor-heading-title {
  font-family: $base-font-family !important;
}


.section-support {
  background: #EFF1F4;
  box-shadow: 0 0 20px -5px rgba(0,0,0,.3);
  height: 200px;
  padding: 0 0 0 50px;
  position: fixed;
  right: 0;
  transform: translateX(89%);
  top: 50%;
  transition: $default-transition;
  width: 465px;
  z-index: 999;
  @media screen and (max-width: 480px) {
    width: 100%;
  }

  .elementor-container {height: 100%;}

  .text-area {
    align-items: center;
    width: 50%;
    + .elementor-column {width: 50%;}
    @media screen and (max-width: 480px) {
      width: 70%;
      + .elementor-column {width: 30%;}
    }
  }//.text-area

  .elementor-widget-text-editor {
    color: $blue-dark;
    font-size: 16px;
    line-height: 1.68;

    a {
      color: $green;
      font-weight: bold;
      display: block;
      margin-bottom: 7px;
      padding-left: 15px;
      position: relative;
      text-transform: uppercase;
      &:first-child {margin-top: 10px;}
      &:hover:before {left: 3px;}
      &:before {
        border-left: 7px solid $green;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        content: '';
        left: 0;
        position: absolute;
        top: 5px;
        transition: all .3s;
      }
    }
  }//.elementor-widget-text-editor


  .elementor-widget-heading {
    align-items: center;
    background: $green;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 28px;
    padding: 5px 20px;
    position: absolute;
    text-align: left;
    transform: rotate(-90deg);
    transition: $default-transition;
    width: 200px;
    z-index: 9;
    &:hover {background: darken($green, 10%);}

    &:first-child {
      min-height: 50px;
      left: -50px;
      top: 0;
      transform: rotate(-90deg) translateX(-100%);
      transform-origin: top left;
      z-index: 10;

      .elementor-heading-title {
        font-size: 16px;
        padding-left: 35px;
        &:before {
          background: url('data:image/svg+xml;utf8,<svg width="23" height="29" viewBox="0 0 23 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 29L0.499999 0.653849L19.1154 0.653848L19.1154 19.6923L22.4999 23.923L19.1154 23.923L19.1154 29L0.5 29ZM11.5297 16.1349C11.0581 16.1349 10.6079 15.9956 10.1792 15.7169C9.75051 15.4275 9.40754 15.1167 9.15031 14.7844C8.88236 14.4522 8.57154 14.1467 8.21785 13.868C7.86415 13.5787 7.51046 13.434 7.15677 13.434C6.78164 13.434 6.49226 13.5626 6.28862 13.8198C6.08498 14.077 5.98315 14.4361 5.98315 14.897C5.98315 15.7973 6.4601 16.435 7.414 16.8101L6.32077 18.7072C5.52764 18.3857 4.91672 17.8766 4.488 17.1799C4.04856 16.4725 3.82885 15.6847 3.82885 14.8166C3.82885 13.8412 4.11287 12.9999 4.68092 12.2925C5.23826 11.5744 6.00995 11.2153 6.996 11.2153C7.44615 11.2153 7.86415 11.3118 8.25 11.5047C8.63585 11.6869 8.9681 11.912 9.24677 12.18C9.51472 12.4372 9.77195 12.6998 10.0185 12.9677C10.2543 13.225 10.5008 13.45 10.758 13.643C11.0152 13.8252 11.2725 13.9163 11.5297 13.9163L11.5297 16.1349ZM15.1148 14.061C15.3828 14.3289 15.5168 14.6504 15.5168 15.0256C15.5168 15.4007 15.3828 15.7222 15.1148 15.9902C14.8469 16.2581 14.5254 16.3921 14.1502 16.3921C13.7751 16.3921 13.4536 16.2581 13.1856 15.9902C12.9177 15.7222 12.7837 15.4007 12.7837 15.0256C12.7837 14.6504 12.9177 14.3289 13.1856 14.061C13.4536 13.793 13.7751 13.659 14.1502 13.659C14.5254 13.659 14.8469 13.793 15.1148 14.061Z" fill="white"/></svg>') no-repeat left center;
          content: '';
          height: 29px;
          left: 0;
          position: absolute;
          transform: rotateZ(90deg);
          top: -4px;
          width: 23px;
        }
      }//.elementor-heading-title
    }//.elementor-widget-heading:first-child

    &:last-child {
      bottom: 0;
      left: 0;
      letter-spacing: .5px;
      transform: rotate(-90deg) translateY(-22px);
      transform-origin: bottom left;
      &:hover .elementor-heading-title:after {transform: translateY(3px);}
      .elementor-heading-title {
        &:after {
          border-top: 8px solid #fff;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          content: '';
          display: inline-block;
          margin-left: 12px;
          transition: all .3s;
        }
      }
    }// .elementor-widget-heading:last-child

    .elementor-heading-title {
      color: #fff;
      font-family: $base-font-family !important;
      font-size: 12px;
      position: relative;
      text-transform: uppercase;
    }

  }//.elementor-widget-heading


  &.show {
    transform: translateX(0);
    .elementor-widget-heading:first-child {
      opacity: 0;
      visibility: hidden;
    }
  }//.section-support.show


  .elementor-image {
    height: 100%;
    text-align: right;
    img {
      height: 200px;
      object-fit: cover;
    }
  }

}//.section-support


.section-page-title {
  align-items: center;
  background-color: #F0F0F0;
  background-position: right center;
  background-repeat: no-repeat;
  display: flex;
  height: 361px;

  .elementor-page-title {margin-bottom: 12px;}

  .elementor-heading-title {
    color: $blue-dark !important;
    font-family: $base-font-family;
    font-weight: 800;
    font-size: 48px;
    line-height: 1.22;
    max-width: 85rem;
    position: relative;
    text-transform: uppercase;
    &:before {
      bottom: 100%;
      content: '<_';
      display: block;
      left: 0;
      position: absolute;
    }
  }

  .elementor-text-editor {
    color: $green;
    font-size: 20px;
    p {margin-bottom: 0;}
  }

}//.section-page-title


.section-breadcrumbs {
  //background: $blue-dark;
  padding: 25px 0;

  .breadcrumbs {
    color: #787C85;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.68;
    a:hover {color: #fff;}

    .current-page {
      color: $red;
    }
  }//.breadcrumbs
}//.section-breadcrumbs

