.section-hero {

  .elementor-heading-title {
    padding-top: 11%;
  }
}//.section-hero


.home .section-text {
  .elementor-col-33 {
    @media screen and (min-width: 1025px) {
      margin-right: 4.7%;
    }
    .elementor-widget-image {
      @media screen and (min-width: 769px) {
        margin-bottom: -135px;
      }
    }
  }
  .elementor-col-66 {
    max-width: 700px;
    text-transform: capitalize;
  }
}


.section-accordion {
  padding: 275px 0 140px;

  .elementor-widget-accordion {
    @media screen and (max-width: 1190px) {
      overflow: auto;
    }
  }

  .elementor-widget-container {
    overflow: hidden;
    @media screen and (max-width: 1190px) {width: 1150px;}
    @media screen and (max-width: 425px) {width: 990px;}
  }




  .elementor-accordion {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    @media screen and (max-width: 425px) {
      padding: 10px 0;
    }
  }


  .elementor-accordion-item {
    background: #eff1f4;
    border: none;
    height: 500px !important;
    min-width: 50px;
    max-width: 50px;
    position: relative;
    transition: width ease-in .5s, background-color ease-in .5s, max-width ease-in .5s, min-width ease-in .5s;
    width: 8.33%;
    &:not(:last-child) {margin-right: 15px;}
    &.active {
      background: #1E3258;
      max-width: 435px;
      min-width: 435px;
      width: 50%;
      @media screen and (min-width: 426px) {
        &:before, &:after {
          background: #1E3258;
          content: '';
          height: 50px;
          left: 0;
          position: absolute;
          width: 100%;
        }
        &:before {bottom: 100%;}
        &:after {
          background: #1E3258 url(assets/img/bg_accordion.svg) no-repeat left bottom;
          bottom: -50px;
          height: 210px;
          z-index: 0;
        }
      }
      @media screen and (max-width: 425px) {
        background: #1E3258 url(assets/img/bg_accordion.svg) no-repeat left 120%;
        max-width: 275px;
        min-width: 275px;
      }

      .elementor-tab-title {
        color: #fff !important;
        font-size: 36px;
        overflow: hidden;
        padding: 20px 40px;
        position: relative;
        transform: none;
        width: 435px;
        @media screen and (max-width: 425px) {
          font-size: 30px;
          padding: 20px 15px;
          width: 275px;
        }
        a {
          animation: slideRight;
          animation-duration: 1s;
          animation-timing-function: ease-out;
        }
      }

      .elementor-tab-content {
        background-color: transparent !important;
        display: block;
        opacity: 1;
        padding: 0 40px;
        transition: opacity .7s ease-in .3s, transform .5s ease-in .3s;
        transform: translateY(0);
        width: 100%;
        @media screen and (max-width: 425px) {padding: 20px 15px;}

        a:last-child {transform: translateY(0);}

      }

    }//.elementor-accordion-item.active
    &:not(.active):hover {
      background: darken(#eff1f4, 10%);
    }

  }//.elementor-accordion-item

  .elementor-tab-title {
    align-items: center;
    display: flex;
    font-family: $base-font-family !important;
    font-size: 21px;
    min-height: 50px;
    padding: 5px 20px;
    position: absolute;
    text-align: left;
    top: 0;
    transition: top .7s;
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: top left;
    width: 500px;
    &:not(.elementor-active) {
      @media screen and (min-width: 426px) {
        top: 27px;
        &:hover {top: 0;}
      }
    }
  }//.elementor-tab-title

  .elementor-tab-content {
    border: none;
    font-family: $base-font-family !important;
    opacity: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    @media screen and (min-width: 426px) {
      transform: translateY(50px);
    }
    @media screen and (max-width: 425px) {
      font-size: 14px;
      line-height: 1.7;
    }
    a:last-child {
      color: $green;
      display: block;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.18;
      padding: 15px 0;
      text-transform: uppercase;
      transform: translateY(30px);
      transition-delay: .7s;
      width: 100%;
      &:hover {color: darken($green, 10%);}
    }
  }

}//.section-accordion


.section-branchenfokus {
  background: $blue-dark;
  margin-bottom: 165px;
  padding: 70px 0 0;

  .elementor-heading-title {
    margin-bottom: 1rem;
  }


  .elementor-widget-image-box {
    height: 100%;

    .elementor-widget-container {
      height: 100%;

      .elementor-image-box-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .elementor-image-box-img {
          align-items: center;
          display: flex;
          flex: 1;
          justify-content: center;
          margin-bottom: 30px;
        }
        .elementor-image-box-title {
          font-size: 18px;
          font-weight: 800;
          margin-bottom: 0;
          text-transform: capitalize;
          @media screen and (min-width: 769px) and (max-width: 980px) {font-size: 16px;}
          @media screen and (max-width: 768px) {margin-bottom: 30px;}

        }
      }

    }

  }//.elementor-widget-image-box


  .elementor-button-link {
    min-width: 330px;
    transform: translateY(50px);
  }

}


.section-jobs {

  .section-jobs-title {
    @media screen and (min-width: 769px) {width: 32%;}
    @media screen and (min-width: 1025px) {width: 31%;}

    .elementor-shortcode {
      font-size: 20px;
      line-height: 1.4;
    }

  }//.section-jobs-title


  .job-category {
    border: 2px solid;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.83;
    margin-bottom: 20px;
    padding: 1px 7px 0;
    text-transform: uppercase;
  }

  .job-title {
    font-weight: bold;
    .rate {display: block;}
  }

  .job-location {
    font-weight: bold;
    font-size: 12px;
    line-height: 2.58;
    padding-left: 12px;
    text-transform: uppercase;
  }

  .job-description {
    border-top: 2px solid #fff;
    margin-top: 20px;
    padding-top: 20px;
    text-transform: capitalize;
  }


  .section-jobs-main {
    @media screen and (min-width: 769px) {width: 66%;}
    @media screen and (min-width: 1025px) {width: 65.5%;}

    .job-category,
    .job-location,
    .job-description {color: #fff;}

    .job-title {
      color: #fff;
      font-size: 36px;
      line-height: 1.27;
      margin-bottom: 15px;
    }

    .job-location {
      background: url('data:image/svg+xml;utf8,<svg width="10" height="10" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.97202 1.23097C8.17826 0.437204 7.12283 0 6.00035 0C4.87764 0 3.82243 0.437204 3.02867 1.23097C1.55971 2.69971 1.37716 5.46319 2.63332 7.1375L6.00035 12L9.36233 7.14429C10.6235 5.46319 10.441 2.69971 8.97202 1.23097ZM6.03914 5.6979C5.19344 5.6979 4.50509 5.00955 4.50509 4.16385C4.50509 3.31815 5.19344 2.6298 6.03914 2.6298C6.88484 2.6298 7.57319 3.31815 7.57319 4.16385C7.57319 5.00955 6.88484 5.6979 6.03914 5.6979Z" fill="white"/></svg>') no-repeat 0 10px;
    }

  }//.section-jobs-main


  .elementor-row {
    @media screen and (min-width: 769px) {justify-content: space-between;}
  }

  .jobs-list {

    .elementor-row {

      .elementor-column {
        //@media screen and (min-width: 769px) {width: 32%;}
        //@media screen and (min-width: 1025px) {width: 31%;}
        @media screen and (max-width: 768px) {padding: 10px 0;}
      }

     .elementor-column .elementor-element {
       //background: #EFF1F4;
       padding: 15px;
       @media screen and (min-width: 980px) {padding: 30px;}
       @media screen and (max-width: 768px) {padding: 10px;}
     }
    }//.elementor-row

    .job-category {
      color: $red;
      margin-bottom: 15px;
    }

    .job-title {
      color: $blue-dark;
      font-size: 16px;
      line-height: 1.68;
      margin-bottom: 0;
    }

    .job-location {
      background: url('data:image/svg+xml;utf8,<svg width="10" height="10" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.97202 1.23097C8.17826 0.437204 7.12283 0 6.00035 0C4.87764 0 3.82243 0.437204 3.02867 1.23097C1.55971 2.69971 1.37716 5.46319 2.63332 7.1375L6.00035 12L9.36233 7.14429C10.6235 5.46319 10.441 2.69971 8.97202 1.23097ZM6.03914 5.6979C5.19344 5.6979 4.50509 5.00955 4.50509 4.16385C4.50509 3.31815 5.19344 2.6298 6.03914 2.6298C6.88484 2.6298 7.57319 3.31815 7.57319 4.16385C7.57319 5.00955 6.88484 5.6979 6.03914 5.6979Z" fill="%23787C85"/></svg>') no-repeat 0 10px;
      color: #787C85;
    }

    .job-description {
      color: $blue-dark;
      margin-top: 10px;
    }

  }//.jobs-list



  .btn-link {
    color: $green;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
    margin-top: 25px;
    text-transform: uppercase;
    &:hover {color: darken($green, 10%);}
  }


  .elementor-button-link {
    margin-top: 50px;
    width: 100%;
    @media screen and (min-width: 769px) {width: 31%;}
  }

}//.section-jobs


.home .section-image {
  padding: 260px 0;
  @media screen and (max-width: 768px) {padding: 200px 0;}
  @media screen and (max-width: 480px) {padding: 100px 0;}
}


.section-digital {
  margin-bottom: 100px;
  padding-top: 50px;
  @media screen and (min-width: 769px) {
    background: linear-gradient(to top, #fff 73px, #eff1f4 0);
    padding-top: 100px;
  }

  .elementor-container {max-width: 1440px;}

  .elementor-inner-section:last-child {
    //@media screen and (min-width: 769px) {margin-bottom: -80px;}
    .elementor-row {
      @media screen and (min-width: 769px) {justify-content: flex-end;}
      .elementor-column:first-child {
        margin: auto;
        max-width: 585px;
      }
      .elementor-column:last-child {
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }//.elementor-inner-section:last-child

  .elementor-heading-title {margin-bottom: 40px;}

  //LEFT COLUMN
  //***********************************************
  .elementor-widget-wrap {
    display: flex;
    justify-content: space-between;
    //padding-bottom: 60px;
  }

  .elementor-widget-icon-box {
    margin-bottom: 35px;
    //max-width: 230px;
    width: 46%;
    @media screen and (max-width: 768px) {width: 48%;}
    @media screen and (max-width: 480px) {width: 100%;}
  }
  .elementor-icon-box-icon {
    align-items: center;
    background: $blue-dark;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 90px;
    margin: auto;
    width: 90px;
  }
  .elementor-icon-box-description {
    color: $blue-dark !important;
    text-align: left;
    text-transform: capitalize;
    @media screen and (max-width: 768px) {text-align: center;}
  }
  //***********************************************


  //SLIDER
  //***********************************************

  .elementor-slick-slider {
    @media screen and (min-width: 769px) {padding-left: 45px;}
  }
  .elementor-slides {
    @media screen and (min-width: 769px) {max-width: 675px;}
  }


  .elementor-slide-content {
    max-width: 100% !important;
  }
  .elementor-slide-heading {
    font-family: $base-font-family;
    font-size: 48px !important;
    margin-bottom: 17px !important;
    small {
      font-size: 17px;
      line-height: 1.58;
      vertical-align: middle;
    }
  }

  .elementor-slide-description {
    font-family: $base-font-family;
    font-weight: bold !important;
  }

  ul.slick-dots {
    bottom: auto !important;
    padding: 0 50px;
    text-align: left;
    top: 55px;
    li {
      border: 1px solid #fff;
      height: 10px;
      margin: 0 5px;
      width: 10px;
      &.slick-active {background: #fff;}
      button {
        padding: 0;
        height: 100%;
        width: 100%;
        &:before {content: none;}
      }
    }
  }//.slick-dots

  //***********************************************



  .elementor-widget-button {
    @media screen and (min-width: 769px) {
      margin-bottom: 32px;
    }
    @media screen and (max-width: 480px) {text-align: center;}

    .elementor-button-link {
      width: 220px;
    }

  }

}//.section-digital


.section-news {
  padding-bottom: 115px;

  .elementor-posts {
    display: block;
  }
  .elementor-post {
    position: relative;

    .elementor-post__thumbnail__link {margin-bottom: 0 !important;}

    .elementor-post__title {
      margin: 0;

      a {
        background: $blue-dark;
        color: #fff;
        display: block;
        font-family: $base-font-family;
        font-size: 21px;
        font-weight: normal;
        line-height: 1.47;
        padding: 10px 25px;
      }
    }

    .elementor-post__badge {
      color: $red;
      font-size: 16px;
      font-weight: bold;
      height: 40px;
      line-height: 40px;
      padding: 0 11px;
      text-transform: uppercase;
    }

    .elementor-post__meta-data {
      margin-bottom: 0;
      padding: 0;
    }

    .elementor-post__text {
      margin: 0 !important;
      padding: 0;
    }

    .elementor-post-date {
      color: #fff;
      font-family: $base-font-family;
      font-weight: bold;
      font-size: 16px;
      line-height: 1.93;
      position: absolute;
      right: 15px;
      text-transform: uppercase;
      top: 5px;
    }

    .elementor-post__excerpt {
      background: #EFF1F4;
      margin-bottom: 0;
      padding: 15px;
      text-transform: capitalize;
      p {
        color: $blue-dark;
        font-size: 17px;
        line-height: 1.58;
      }
    }

  }//.elementor-post
}//.section-news


.section-logos {

  .elementor-widget-wrap {
    align-items: center;
  }

  .elementor-widget-image {
    display: inline-block;
    margin: 5px 7px;
    width: auto;
  }

}//.section-logos