.section-branchenfokus.karriere-page {
  margin-bottom: 0;
  padding: 0 0 75px;
}

.karriere .slide-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .single-job-col-4 {
    height: auto;
    width: 50%;
    @media(max-width: 480px) {width: 100%;}
  }

  .single-job-container {padding: 15px;}

  .single-job-inner-container {
    background-color: #EFF1F4;
    padding: 25px;
  }

  .single-job-col-4:nth-child(2n + 1) .single-job-container {
    padding-left: 0;
    @media(max-width: 480px) {padding-left: 15px;}
  }

  .single-job-col-4:nth-child(2n) .single-job-container {
    padding-right: 0;
    @media(max-width: 480px) {padding-right: 15px;}
  }

}