.section-branchenfokus.karriere-page {
  margin-bottom: 0;
  padding: 0 0 75px;
}

.karriere {

  &.section-jobs {
    .elementor-container {
      max-width: 1230px;
    }
  }

  .jobs-list-main-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .swiper-container {
    margin-bottom: 35px;
    @media screen and (min-width: 581px) {
      margin-bottom: 0;
      padding: 30px;
    }


    .single-job-col-4 {
      height: auto;
      width: 50%;
      @media(max-width: 480px) {width: 100%;}
    }

    .single-job-container {padding: 0;}

    .single-job-inner-container {
      background-color: #EFF1F4;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 25px;

      .job-location {width: 100%;}

    }

    + .swiper-pagination {
      order: 2;
      position: relative;
      @media screen and (max-width: 580px) {display: none;}

      .swiper-pagination-bullet {
        background: none;
        color: $blue-dark;
        font-size: 16px;
        font-weight: bold;
        height: auto;
        opacity: .7;
        padding: 0 10px;
        width: auto;
        &:hover {opacity: 1;}
        &.swiper-pagination-bullet-active {color: $green;}
      }
    }

    ~ .swiper-button-next,
    ~ .swiper-button-prev {
      background: none;
      color: $blue-dark;
      font-size: 12px;
      font-weight: bold;
      height: auto;
      line-height: 30px;
      margin: 0;
      position: relative;
      text-transform: uppercase;
      transition: $default-transition;
      width: auto;
      @include text-selection {
        background: none;
        color: $blue-dark;
      }
      &:before {
        border-bottom: 12px solid transparent;
        border-top: 12px solid transparent;
        bottom: 0;
        content: '';
        height: 0;
        margin: auto;
        position: absolute;
        top: 0;
        transition: $default-transition;
      }
    }
    ~ .swiper-button-prev {
      order: 1;
      padding-left: 25px;
      @media screen and (min-width: 581px) {
        margin-left: 20px;
      }
      &:before {
        border-right: 12px solid $blue-dark;
        left: 0;
      }
      &:hover:before {transform: translateX(-10px);}
    }
    ~ .swiper-button-next {
      order: 3;
      padding-right: 25px;
      @media screen and (min-width: 581px) {
        margin-right: 20px;
      }
      &:before {
        border-left: 12px solid $blue-dark;
        right: 0;
      }
      &:hover:before {transform: translateX(10px);}
    }

  }//.swiper-container

}//.karriere


.block-kurze {
  .elementor-text-editor p {
    color: $green;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 7px;
    text-transform: uppercase;
  }
  .elementor-widget-button {margin-top: 40px;}
}//.block-kurze


.section-testimonials {
  margin-top: -255px;

  .swiper-wrapper {
    min-height: 325px;
    padding: 30px 0;
    .karriere ~ & {min-height: 425px;}
  }

  .swiper-slide {
    box-shadow: 0 4px 25px rgba(0, 0, 0, .1);
    flex-shrink: 0;
    padding: 65px 4% 50px;
    width: 660px !important;
    //width: 730px !important;
    @media screen and (max-width: 660px) {width: 100% !important;}

    &.swiper-slide-active {
      overflow: visible;
      z-index: 1;
      &:after,
      &:before {
        background: #fff;
        content: '';
        height: 30px;
        left: 0;
        position: absolute;
        width: 100%;
      }
      &:before {bottom: 100%;}
      &:after {
        box-shadow: 0 20px 20px -10px rgba(0, 0, 0, .1);
        top: 100%;
      }

      .elementor-testimonial {
        &:before {
          top: -80px;
        }
      }
    }//.swiper-slide-active

    &:not(.swiper-slide-active) {
      @media screen and (min-width: 661px) {
        width: 730px !important;
      }

      .elementor-testimonial__image img {
        @media screen and (min-width: 661px) {
          height: 91px;
          width: 91px;
        }
      }
      .elementor-testimonial {
        @media screen and (min-width: 661px) {
          padding-top: 80px;
        }
      }
    }

  }//.swiper-slide

  .elementor-testimonial {
    padding-top: 65px;
    position: relative;
    @media screen and (max-width: 425px) {
      flex-direction: column-reverse;
    }
    &:before,
    &:after {
      color: #EFF1F4;
      font-family: $base-font-family;
      font-weight: bold;
      font-size: 116px;
      font-style: italic;
      line-height: 1;
      height: 50px;
      content: '"';
      position: absolute;
      text-transform: capitalize;
    }
    &:before {
      left: -60px;
      top: -50px;
      @media screen and (max-width: 660px) {left: 0;}
    }
    &:after {
      bottom: -50px;
      right: -20px;
      @media screen and (max-width: 660px) {right: 0;}
    }

    .elementor-testimonial__content {
      display: flex;
      flex-direction: column-reverse;
    }

    .elementor-testimonial__text {
      font-family: $base-font-family;
    }

    .elementor-testimonial__cite {
      position: absolute;
      left: 0;
      top: 0;
      margin: 0 0 25px;

      .elementor-testimonial__name,
      .elementor-testimonial__title {
        font-family: $base-font-family;
        line-height: 1.31;
      }

    }//.elementor-testimonial__cite


    .elementor-testimonial__footer {
      @media screen and (max-width: 425px) {
        margin-bottom: 25px;
        padding-right: 0;
      }

      .elementor-testimonial__image img {
        transition: $default-transition;
      }

    }//.elementor-testimonial__footer

  }//.elementor-testimonial

  .swiper-pagination {
    margin-top: 55px;
    position: relative;
  }
  .swiper-pagination-bullet {
    background: transparent;
    border-radius: 0;
    border: 1px solid $blue-dark;
    opacity: 1;
    &.swiper-pagination-bullet-active {
      background: $blue-dark;
    }
  }//.swiper-pagination-bullet

}//.section-testimonials


.section-arbeitgeber {

  .elementor-icon-box-icon {
    align-items: center;
    background: $blue-dark;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 90px;
    margin: auto;
    width: 90px;
  }
  .elementor-icon-box-description {
    color: $blue-dark !important;
    //text-align: left;
    text-transform: capitalize;
    @media screen and (max-width: 768px) {text-align: center;}
  }

}//.section-arbeitgeber


